<ng-container *ngIf="component && service.currentEdge | async as edge">
    <ng-container *ngIf="(edge.currentData | async)['channel'] as currentData">
        <ion-card>
            <ion-item lines="full" color="light">
                <ion-label style="display: flex; justify-content: center;">SmartSolarBox</ion-label>
            </ion-item>
            <ion-card-content
                style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
                <ion-list>
                    <ion-item>
                        <ion-label>Solar: {{ currentData[component.id + '/SolarAmps'] | unitvalue:'A'}} | {{ currentData[component.id + '/SolarVolts'] | unitvalue:'V'}} | {{ currentData[component.id + '/SolarPower'] | unitvalue:'W'}}
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Battery: {{ currentData[component.id + '/BatteryAmps'] | unitvalue:'A'}} | {{ currentData[component.id + '/BatteryVolts'] | unitvalue:'V'}} | {{ currentData[component.id + '/BatterySoc'] | unitvalue:'%'}}
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Load: {{ currentData[component.id + '/LoadAmps'] | unitvalue:'A'}} | {{ currentData[component.id + '/LoadVolts'] | unitvalue:'V'}} | {{ currentData[component.id + '/LoadPower'] | unitvalue:'W'}}
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Gen Total: {{ currentData[component.id + '/GenTotal'] | unitvalue:'kWh'}}
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Total Consumption: {{ currentData[component.id + '/ConsumpTotal'] | unitvalue:'kWh'}}
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Box Temperature: {{ currentData[component.id + '/BoxTemperature'] | unitvalue:'C'}}
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Switch Status: {{ currentData[component.id + '/SwitchStatus']}}
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Turn ON/OFF</ion-label>
                        <ion-toggle (ionChange)="hitButton($event)"></ion-toggle>
                    </ion-item>
                </ion-list>

                <span style="display: flex; justify-content: space-evenly; width: 100%;">
                    <ion-button color="primary" (click)="hitButtonTrue()">Switch ON</ion-button>
                </span>
                <span style="display: flex; justify-content: space-evenly; width: 100%;">
                    <ion-button color="primary" (click)="hitButtonFalse()">Switch OFF</ion-button>
                </span>

            </ion-card-content>
        </ion-card>
    </ng-container>
  </ng-container>